<!doctype>
<html>
<head>
    <meta charset="UTF-8">
    <title>Quitter</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.js"></script>
</head>
<body ng-app="quitterApp">
    <div ng-controller="PostsCtrl" class="post-container">
        <h1>Recent posts</h1>
        <input ng-model="postBody" class="form-control">
        <button ng-click="addPost()"  class="btn btn-default">Add Post</button>
        <ul class="list-group">
            <li ng-repeat="post in posts" class="list-group-item">
                <strong>@{{ post.username }}</strong>
                <span>{{ post.body }}</span>
            </li>
        </ul>
    </div>
<script>
    var quitterApp = angular.module('quitterApp', []);
    quitterApp.controller('PostsCtrl', function ($scope) {
        $scope.posts = [
            {
                username : "Matt Pickleweasel",
                body : "This is the best Node.js app ever created."
            },
            {
                username : "Billy Bob",
                body : "This post is better than all the others."
            }
        ],
        $scope.addPost = function (){
            if($scope.postBody) {$scope.posts.unshift({
                username : "Thadeus Polevault",
                body : $scope.postBody,
            })}
            else {
                alert('No empty posts');
            }
            $scope.postBody = null;
        }
    });
    console.log(angular);
</script>
</body>
</html>