body {
  width: 100%;
  margin: 0;
  font: 100% 'Raleway, san-serif';
  background-color: #7bc4d9;
  color: #0f2b33; }

h1 {
  font-size: 52px; }

ul {
  list-style: none; }

.slick-box {
  display: block;
  float: left;
  width: 50%;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  border-radius: 10px;
  border: 1px solid #0f2b33;
  padding: 5%; }

.list-group {
  display: block;
  background-color: #ff00ff;
  width: 50%;
  margin: 0 auto;
  padding: 33px; }

.post-wrap {
  text-align: center;
  color: #ffffff;
  font-size: 40px; }

.bigborder {
  display: block;
  margin: 0 auto;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  border: 4px solid #00ff00; }

.members {
  display: block;
  float: left;
  width: 100%;
  margin-bottom: 50px; }

.member-title {
  text-align: center;
  color: #FFFFF0; }

.members-list li {
  position: relative;
  display: block;
  float: left;
  width: 30%;
  margin: 1%;
  border: 1px solid #102035; }

.members-list img {
  width: 100%; }

.members-list strong {
  z-index: 1;
  width: 100%;
  position: absolute;
  bottom: 5px;
  font-size: 35px;
  text-align: center;
  color: #ff00ff; }
