<!doctype>
<html>
<head>
    <meta charset="UTF-8">
    <title>Quitter</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.js"></script>
</head>
<body ng-app="quitterApp">
    <div ng-controller="PostsCtrl" class="post-container">
        <h1>Recent posts</h1>
        <input ng-model="postBody" class="form-control">
        <button ng-click="addPost()"  class="btn btn-default">Add Post</button>
        <ul class="list-group">
            <li ng-repeat="post in posts | orderBy: '-date'" class="list-group-item">
                <strong>@{{ post.username }}</strong>
                <span>{{ post.body }}</span>
            </li>
        </ul>
    </div>
<script>
    var quitterApp = angular.module('quitterApp', []);
    quitterApp.controller('PostsCtrl', function ($scope, $http) {

        $scope.addPost = function () {
            if ($scope.postBody) {
                $http.post('/api/posts', {
                    username: "Default User",
                    body: $scope.postBody
                })
                        .success(function (post) {
                            $scope.posts.unshift(post)
                            $scope.postBody = null;
                        });
            }
        }
        $http.get('http://localhost:3000/api/posts')
            .success( function(posts){
                $scope.posts = posts
        });
    });
</script>
</body>
</html>